<div class="footer-wrapper">
  <img
    class="footer-bg-image"
    src="../../../assets/images/footer-background.png"
    alt=""
  />
  <div class="footer-address">
    <div class="powered-by">
      <p>Powered By</p>
      <img
        src="../../../assets/images/brands/iic-logo.png"
        alt=""
        width="100"
      />
    </div>
    <p>+91-9930677169</p>
  </div>
  <div class="footer-social-icons">
    <div class="icon-container">
      <a
        href="https://instagram.com/inkincaps?igshid=YmMyMTA2M2Y="
        target="_blank"
      >
        <img
          style="width: 25px"
          src="../../../assets/images/instagram.png"
          alt=""
        />
      </a>
    </div>
    <div class="icon-container">
      <a href="https://www.linkedin.com/company/ink-in-caps" target="_blank">
        <img style="width: 25px" src="../../../assets/images/linkdin.png" />
      </a>
    </div>
    <div class="icon-container">
      <a href="https://www.youtube.com/InkInCaps" target="_blank">
        <img
          style="width: 32px; margin-top: 2px"
          src="../../../assets/images/youtube.png"
          alt=""
        />
      </a>
    </div>
  </div>
  <div class="footer-phone"></div>
</div>
