<div class="possibilities-wrapper" #posibilityWrapper>
  <div class="possibility-header" #posibilityHeaderWrapper>
    <h1 #posibilityHeader class="possibility-header-h1">POSSIBILITIES OF</h1>
    <div #posibilityHeaderImage class="possibility-header-image">
      <img src="../../../assets/images/possibilities-v-verse.png" alt="" />
    </div>
  </div>
  <div class="possibility-virtual-parties-container">
    <div class="possibility-virtual-parties-image">
      <img
        class="possibility-virtual-parties-gif"
        src="../../../assets/images/gif/gif-posibility-steps.gif"
        alt="posibility-gif"
      />
    </div>
    <div class="possibility-virtual-parties-header">
      <h3 #virtualPartyHeader class="possibility-virtual-parties-header-h1">
        VIRTUAL PARTIES
      </h3>
      <p #virtualPartyPara class="possibility-virtual-parties-header-p">
        Host stunning online team parties or full-fledged corporate celebrations
        across the V VERSE SPACE. Level up your gatherings with built-in games
        and activities on our mod platform, led by virtual hosts.
      </p>
    </div>
    <div class="retail-spaces-wrapper">
      <div class="retail-spaces-image-bg">
        <div class="retail-spaces-bg-content">
          <h3 #retailSpaceHeader class="retail-spaces-bg-content-h1">
            RETAIL SPACES
          </h3>
          <p #retailSpacePara class="retail-spaces-bg-content-p">
            Create your virtual stores and virtual worlds, selling physical and
            digital products, in the V-verse.
          </p>
        </div>
        <img src="../../../assets/images/mobile-store-bg.png" alt="" />
      </div>
    </div>

    <div class="avatar-creation-wrapper">
      <div class="avatar-creation-header">
        <h3 #avatarCreationHeader class="avatar-creation-header-h1">
          AVATAR CREATION
        </h3>
      </div>
      <div class="avatar-creation-bg-image">
        <app-avatar-creation></app-avatar-creation>
      </div>
      <div class="avatar-creation-content" #avatarCreationPara>
        <p>
          Captain Marvel, Batman, Superman, Superwoman, Batwoman, Iron Man,
          Hulk…? Be what you want to be in your own virtual no-questions-asked
          space. V Verse bestows you with the power of flexibility, and
          creativity to build your own AVATAR just the way you want it.
        </p>
        <br />
        <p>
          Jump in using a VR headset to feel the vibrations if you're hand box.
          For the more traditional, you can stay united on the web and feel the
          emotions through the keyboard numbers dedicated to different events.
        </p>
      </div>
    </div>

    <div class="experience-center-wrapper">
      <img
        class="experience-center-joystick-image-bg"
        src="../../../assets/images/joystick_bg.png"
        alt=""
      />

      <img
        class="experience-center-joystick-image"
        src="../../../assets/images/actual_joystick.png"
        alt=""
      />

      <div class="experience-center-bg-content">
        <h3 #experienceCenterHeader class="experience-center-bg-content-h1">
          EXPERIENCE CENTER
        </h3>
        <p #experienceCenterPara class="experience-center-bg-content-p">
          Interactive customer spaces designed to strengthen bonds between you
          and your customers by allowing them to participate in an immersive
          function that will engulf and enlighten them about your products and
          services.
        </p>
      </div>
    </div>

    <div class="brand-zone-wrapper">
      <div class="brand-zone-content-container">
        <h3 #brandZoneHeader class="brand-zone-content-h1">BRAND ZONE</h3>
        <p #brandZonePara class="brand-zone-content-p">
          Get an exclusive space to showcase your brand on the metaverse - You
          can either create an entire breeze-in showroom or provide reserved
          access to only exclusionary materials.
        </p>
      </div>
      <div
        class="brand-zone-image-container brand-zone-content-image"
        #brandZoneImage
      >
        <img src="../../../assets/images/hotstar-brand-zone.png" alt="" />
      </div>
    </div>
  </div>
</div>
