<div class="okay-im-ready-wrapper">
  <video
    id="landing-video"
    class="landing-video-bg"
    src="../assets/videos/landing-video.mp4"
    autoplay
    muted
    playsinline
    loop
    #landingVideo
  ></video>

  <ng-container *ngIf="isMobile == true">
    <video
      id="landing-video"
      class="landing-video-bg"
      src="../assets/videos/mobile-landing-video.mp4"
      autoplay
      muted
      playsinline
      loop
      #landingVideo
    ></video>
  </ng-container>

  <ng-container *ngIf="isMobile == false">
    <video
      id="landing-video"
      class="landing-video-bg"
      src="../assets/videos/landing-video.mp4"
      autoplay
      muted
      playsinline
      loop
      #landingVideo
    ></video>
  </ng-container>

  <ng-container *ngIf="isWaveText">
    <div class="wave-text" #waveText>
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1920 1080"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0 {
            fill: none;
          }
        </style>
        <path
          id="SVGID_x5F_1_x5F_"
          class="st0"
          d="M65.5,444.28c0,0,258.61-128,432.08-44s384.19,316,699.21,262s409.74-94,657.7,46"
        />
        <text>
          <textPath xlink:href="#SVGID_x5F_1_x5F_" startOffset="0%">
            <tspan
              style="fill: #ffffff; font-family: 'BigJohn'; font-size: 55px"
            >
              step into the world which is ready only for you.
            </tspan>
            <animate
              attributeName="startOffset"
              from="-100%"
              to="0%"
              begin="0s"
              dur="1.5s"
            />
          </textPath>
        </text>
      </svg>
    </div>
  </ng-container>

  <div class="okay-im-ready-scroll-btn" id="okay-im-ready" (click)="gotoHome()">
    <!-- <img src="../../../assets/images/okay-im-ready.png" alt="" /> -->
    <p>Okay, I'm ready</p>
    <span class="right-arrow-in-btn">
      <img
        #rightArrowAnim
        class="right-arrow-landing"
        src="../../../assets/images/right-arrow.png"
        alt=""
      />
    </span>
  </div>
</div>
