<div class="creative-excellence-wrapper" #creativeWrapper>
  <div class="creative-excellence-content-container">
    <h1 #creativeHeader class="an-1">CREATIVE EXCELLENCE UNLEASHED.</h1>

    <p #creativePara class="creative-excellence-content-p">
      Congregate on the cloud with your friends across various time zones to
      indulge in events. Create, explore, play and experience the V VERSE
      together.
    </p>
    <!-- <div class="demo-btn-img-wrapper" #demoBtn>
      <p>Demo</p>
      <span class="right-arrow-in-btn">
        <img
          #rightArrowAnim
          class="right-arrow-landing"
          src="../../../assets/images/right-arrow.png"
          alt=""
        />
      </span>
    </div> -->
  </div>
  <div class="creative-excellence-image-container">
    <img
      #bubble1
      class="bubble-1"
      src="../../../assets/images/creative-excellence/bubble-1.png"
      alt="bubble-1"
    />
    <img
      #bubble2
      class="bubble-2"
      src="../../../assets/images/creative-excellence/bubble-2.png"
      alt="bubble-2"
    />
    <img
      #bubble3
      class="bubble-3"
      src="../../../assets/images/creative-excellence/bubble-3.png"
      alt="bubble-3"
    />
    <img
      #bubble4
      class="bubble-4"
      src="../../../assets/images/creative-excellence/bubble-1.png"
      alt="bubble-1"
    />
    <img
      #cloud
      src="../../../assets/images/creative-excellence/cloud.png"
      alt="cloud"
      class="cloud-1"
    />
    <img
      #cloud2
      src="../../../assets/images/creative-excellence/cloud.png"
      alt="cloud"
      class="cloud-2"
    />
    <img
      #cloud3
      src="../../../assets/images/creative-excellence/cloud.png"
      alt="cloud"
      class="cloud-3"
    />
    <img
      class="lobby"
      src="../../../assets/images/different-zones.png"
      alt="lobby"
    />
  </div>
</div>
